@import url(http://fonts.googleapis.com/css?family=Maven+Pro:700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:200);
/* Welcome to Compass.
 * In this file you should centralize your imports
 */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 20, ../scss/defaults.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 24, ../scss/defaults.scss */
html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 35, ../scss/defaults.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 40, ../scss/defaults.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
/* line 49, ../scss/defaults.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 66, ../scss/defaults.scss */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 74, ../scss/defaults.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
/* line 84, ../scss/defaults.scss */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 92, ../scss/defaults.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Much nicer box model
   ========================================================================== */
/* line 103, ../scss/defaults.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
   Base typography
   ========================================================================== */
/* line 5, ../scss/typography.scss */
body {
  font-family: 'Average', serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333; }

/* line 13, ../scss/typography.scss */
h1, h2, h3,
h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  line-height: 1.3; }

/* line 18, ../scss/typography.scss */
h1 {
  font-size: 3.75em;
  margin: 0.2em 0; }

/* line 19, ../scss/typography.scss */
h2 {
  font-size: 2.25em;
  margin: 1em 0; }

/* line 20, ../scss/typography.scss */
h3 {
  font-size: 1.3125em;
  margin: 0; }

/* line 22, ../scss/typography.scss */
a, a:visited {
  color: #333;
  text-decoration: underline; }

/* line 27, ../scss/typography.scss */
th {
  font-family: 'Fjalla One', sans-serif; }

/*! responsive-nav.js 1.0.32 by @viljamis */
@font-face {
  font-family: "responsivenav";
  src: url("../icons/responsivenav.eot");
  src: url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"), url("../icons/responsivenav.ttf") format("truetype"), url("../icons/responsivenav.woff") format("woff"), url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 14, ../scss/responsive-nav.scss */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none; }

/* line 22, ../scss/responsive-nav.scss */
.nav-collapse li {
  width: 100%;
  display: block; }

/* line 27, ../scss/responsive-nav.scss */
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

/* line 36, ../scss/responsive-nav.scss */
.nav-collapse.opened {
  max-height: 9999px; }

/* line 40, ../scss/responsive-nav.scss */
.disable-pointer-events {
  pointer-events: none !important; }

/* line 44, ../scss/responsive-nav.scss */
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  right: 1.9em;
  top: -1.1em; }

/* line 57, ../scss/responsive-nav.scss */
.nav-toggle:before {
  color: #444;
  font-family: "responsivenav";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 3em;
  text-transform: none;
  position: absolute;
  content: "\2261";
  text-indent: 0;
  text-align: center;
  line-height: 65px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0; }

@media screen and (min-width: 40em) {
  /* line 77, ../scss/responsive-nav.scss */
  .js .nav-collapse {
    position: relative; }

  /* line 80, ../scss/responsive-nav.scss */
  .js .nav-collapse.closed {
    max-height: none; }

  /* line 83, ../scss/responsive-nav.scss */
  .nav-toggle {
    display: none; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 9, ../scss/helper-classes.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

/* line 17, ../scss/helper-classes.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 28, ../scss/helper-classes.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 37, ../scss/helper-classes.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 54, ../scss/helper-classes.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 67, ../scss/helper-classes.scss */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 84, ../scss/helper-classes.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 89, ../scss/helper-classes.scss */
.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 98, ../scss/helper-classes.scss */
.clearfix {
  *zoom: 1; }

/* line 102, ../scss/helper-classes.scss */
.no-box-shadow {
  box-shadow: none !important;
  background-color: transparent !important; }
  /* line 107, ../scss/helper-classes.scss */
  .no-box-shadow:hover, .no-box-shadow:active {
    box-shadow: none !important;
    background-color: transparent !important; }

/*
 * Align stuff verically IE9+.
 */
/* ==========================================================================
   Mobile first styles (loaded by all browsers)
   ========================================================================== */
/* line 9, ../scss/small.scss */
html {
  width: 100%;
  height: 100%; }

/* line 14, ../scss/small.scss */
body {
  min-width: 100%;
  min-height: 100%;
  background-color: #efefef; }

/* line 21, ../scss/small.scss */
img {
  width: 100%;
  height: auto;
  max-width: 100%; }

/* line 28, ../scss/small.scss */
.opening-view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, to bottom, to top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(55%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('../img/binaryheart-bg.jpg?1423499580');
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.65) 100%), url('../img/binaryheart-bg.jpg?1423499580');
  background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.65) 100%), url('../img/binaryheart-bg.jpg?1423499580');
  background: -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.65) 100%), url('../img/binaryheart-bg.jpg?1423499580');
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.65) 100%), url('../img/binaryheart-bg.jpg?1423499580');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  /* line 39, ../scss/small.scss */
  .opening-view .headline {
    position: absolute;
    width: 60%;
    max-width: 31em;
    bottom: 1em;
    left: 2em;
    color: white; }

/* line 51, ../scss/small.scss */
.container {
  position: absolute;
  top: 100%;
  width: 100%;
  margin: 0 auto; }

/* line 58, ../scss/small.scss */
.column {
  float: left;
  margin-left: 5%; }

/* line 63, ../scss/small.scss */
.column:first-child {
  margin-left: 0; }

/* line 67, ../scss/small.scss */
.column.full {
  width: 100%; }

/* line 71, ../scss/small.scss */
.column.two-thirds {
  width: 65%; }

/* line 75, ../scss/small.scss */
.column.half {
  width: 47.5%; }

/* line 79, ../scss/small.scss */
.column.one-third {
  width: 30%; }

/* line 83, ../scss/small.scss */
.column.one-fourth {
  width: 21.25%; }

/* line 87, ../scss/small.scss */
.row {
  overflow: hidden; }

/* line 91, ../scss/small.scss */
.header {
  width: 100%;
  z-index: 9999; }

/* line 97, ../scss/small.scss */
.nav {
  display: block;
  width: 100%; }
  /* line 101, ../scss/small.scss */
  .nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #efefef; }
    /* line 107, ../scss/small.scss */
    .nav ul li {
      text-align: center; }
      /* line 110, ../scss/small.scss */
      .nav ul li:nth-child(1) a {
        background-color: #e4433d; }
      /* line 114, ../scss/small.scss */
      .nav ul li:nth-child(2) a {
        background-color: #e75953; }
      /* line 118, ../scss/small.scss */
      .nav ul li:nth-child(3) a {
        background-color: #ea6e6a; }
      /* line 122, ../scss/small.scss */
      .nav ul li:nth-child(4) a {
        background-color: #ed8480; }
      /* line 126, ../scss/small.scss */
      .nav ul li:nth-child(5) a {
        background-color: #f09a97; }
      /* line 130, ../scss/small.scss */
      .nav ul li:nth-child(6) a {
        background-color: #f4afad; }
    /* line 135, ../scss/small.scss */
    .nav ul a {
      text-decoration: none;
      font-family: 'Fjalla One', sans-serif;
      display: block;
      width: 100%;
      height: 100%;
      color: white;
      padding: 15px 0;
      -webkit-transition-property: background-color, color, text-shadow;
      -moz-transition-property: background-color, color, text-shadow;
      -o-transition-property: background-color, color, text-shadow;
      transition-property: background-color, color, text-shadow;
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-box-shadow: inset -10px 0px 5px -5px rgba(50, 50, 50, 0.5);
      -moz-box-shadow: inset -10px 0px 5px -5px rgba(50, 50, 50, 0.5);
      box-shadow: inset -10px 0px 5px -5px rgba(50, 50, 50, 0.5); }
    /* line 149, ../scss/small.scss */
    .nav ul li:last-child a {
      box-shadow: none; }
    /* line 153, ../scss/small.scss */
    .nav ul a:nth-child(n):hover {
      background-color: #e96863;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); }

/* line 161, ../scss/small.scss */
.container section, .container hr {
  width: 100%;
  padding: 0 57px;
  margin: 0 auto;
  padding-bottom: 1em; }
/* line 168, ../scss/small.scss */
.container h2 {
  border-bottom: 4px solid #e4433d; }

/* line 175, ../scss/small.scss */
.speakers .one-third {
  position: relative; }
  /* line 178, ../scss/small.scss */
  .speakers .one-third .profile-photo {
    position: absolute;
    width: 30%;
    height: auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    padding: 0.5em;
    background-color: white; }
  /* line 187, ../scss/small.scss */
  .speakers .one-third .text-content {
    padding: 0 0 0 35%;
    margin: 0;
    word-break: break-word; }

/* line 196, ../scss/small.scss */
.schedule table {
  table-layout: auto;
  width: 100%; }
  /* line 201, ../scss/small.scss */
  .schedule table tr:nth-child(odd) {
    background-color: transparent; }
  /* line 205, ../scss/small.scss */
  .schedule table tr:nth-child(even) {
    background-color: #ccc; }

/* line 213, ../scss/small.scss */
.locations #map {
  width: 100%;
  height: 600px; }
/* line 217, ../scss/small.scss */
.locations #map img {
  max-width: none; }

/* line 223, ../scss/small.scss */
.sponsors .column {
  margin-bottom: 1em !important;
  text-align: center;
  height: 5em; }
  /* line 228, ../scss/small.scss */
  .sponsors .column img, .sponsors .column h1 {
    max-height: 100%;
    width: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

/* line 236, ../scss/small.scss */
footer {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid black;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed8480), color-stop(100%, #d1241d));
  background: -webkit-linear-gradient(#ed8480, #d1241d);
  background: -moz-linear-gradient(#ed8480, #d1241d);
  background: -o-linear-gradient(#ed8480, #d1241d);
  background: linear-gradient(#ed8480, #d1241d); }
  /* line 243, ../scss/small.scss */
  footer span {
    display: table-cell; }
    /* line 246, ../scss/small.scss */
    footer span img {
      padding: 20%; }

@media screen and (min-width: 640px) {
  /* line 255, ../scss/small.scss */
  .nav ul {
    display: table;
    table-layout: fixed; }
    /* line 259, ../scss/small.scss */
    .nav ul li {
      display: table-cell; }

  /* line 266, ../scss/small.scss */
  .sponsors .column {
    height: 10em; } }
@media screen and (max-width: 640px) {
  /* line 274, ../scss/small.scss */
  .opening-view .headline {
    font-size: 60%; }

  /* line 280, ../scss/small.scss */
  .container section, .container hr {
    padding: 0 39px; }

  /* line 287, ../scss/small.scss */
  .column.full,
  .column.two-thirds,
  .column.half {
    float: none;
    margin: 0;
    width: 100%; }

  /* line 297, ../scss/small.scss */
  .nav ul a {
    padding: 5px 0; }

  /* line 303, ../scss/small.scss */
  .locations #map {
    height: 300px; } }
@media screen and (max-width: 1100px) {
  /* line 309, ../scss/small.scss */
  .column.one-third {
    float: none;
    margin: 0;
    width: 100%; }

  /* line 315, ../scss/small.scss */
  .speakers .one-third .profile-photo {
    width: 20%; }

  /* line 319, ../scss/small.scss */
  .speakers .one-third .text-content {
    padding: 0 0 10% 25%; } }
/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */
/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/* line 17, ../scss/responsive-tables.scss */
table th {
  font-weight: bold; }

/* line 18, ../scss/responsive-tables.scss */
table td, table th {
  padding: 9px 10px;
  text-align: left; }

/* Mobile */
@media only screen and (max-width: 767px) {
  /* line 23, ../scss/responsive-tables.scss */
  table.responsive {
    margin-bottom: 0; }

  /* line 25, ../scss/responsive-tables.scss */
  .pinned {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 35%;
    overflow: hidden;
    overflow-x: scroll;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc; }

  /* line 26, ../scss/responsive-tables.scss */
  .pinned table {
    border-right: none;
    border-left: none;
    width: 100%; }

  /* line 27, ../scss/responsive-tables.scss */
  .pinned table th, .pinned table td {
    white-space: nowrap; }

  /* line 28, ../scss/responsive-tables.scss */
  .pinned td:last-child {
    border-bottom: 0; }

  /* line 30, ../scss/responsive-tables.scss */
  div.table-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-right: 1px solid #ccc; }

  /* line 31, ../scss/responsive-tables.scss */
  div.table-wrapper div.scrollable {
    margin-left: 35%; }

  /* line 32, ../scss/responsive-tables.scss */
  div.table-wrapper div.scrollable {
    overflow: scroll;
    overflow-y: hidden; }

  /* line 34, ../scss/responsive-tables.scss */
  table.responsive td, table.responsive th {
    position: relative;
    white-space: nowrap;
    overflow: hidden; }

  /* line 35, ../scss/responsive-tables.scss */
  table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td {
    display: none; } }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 7, ../scss/print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 15, ../scss/print.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 19, ../scss/print.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 23, ../scss/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 33, ../scss/print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 38, ../scss/print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 43, ../scss/print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  /* line 48, ../scss/print.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 52, ../scss/print.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 62, ../scss/print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 68, ../scss/print.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
