/* ==========================================================================
   Mobile first styles (loaded by all browsers)
   ========================================================================== */

// Colors
$midnight-blue: #E4433D;
$body-gray: #efefef;

html {
  width: 100%;
  height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  background-color: $body-gray;
}

// Basic responsive images
img {
  max-width: 100%;
}

// Opening page
.opening-view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @include background(linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.65) 100%), image-url("binaryheart-bg.png"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .headline {
    position: absolute;
    width: 60%;
    max-width: 31em;
    bottom: 1em;
    left: 2em;
    color: white;
  }
}

// General structure for content

.container {
  position: absolute;
  top: 100%;
  width: 100%;
  margin: 0 auto;
}

.column {
  float: left;
  margin-left: 5%;
}

.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}

.column.two-thirds {
  width: 65%;
}

.column.half {
  width: 47.5%;
}

.column.one-third {
  width: 30%;
}

.column.one-fourth {
  width: 21.25%;
}

.row {
  overflow: hidden;
}

.header {
  width: 100%;
  z-index: 9999;
}

// Navigation
.nav {
  display: block;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $body-gray;

    li {
      text-align: center;

      &:nth-child(1) a {
        background-color: $midnight-blue;
      }

      &:nth-child(2) a {
        background-color: lighten($midnight-blue, 5%);
      }

      &:nth-child(3) a {
        background-color: lighten($midnight-blue, 10%);
      }

      &:nth-child(4) a {
        background-color: lighten($midnight-blue, 15%);
      }

      &:nth-child(5) a {
        background-color: lighten($midnight-blue, 20%);
      }

      &:nth-child(6) a {
        background-color: lighten($midnight-blue, 25%);
      }
    }

    a {
      text-decoration: none;
      font-family: 'Fjalla One', sans-serif;
      display: block;
      width: 100%;
      height: 100%;
      color: white;
      padding: 15px 0;
      @include transition-property(background-color, color, text-shadow);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in-out);
      @include box-shadow(inset -10px 0px 5px -5px rgba(50, 50, 50, 0.5));
    }

    li:last-child a {
      box-shadow: none;
    }

    a:nth-child(n):hover {
      background-color: tint($midnight-blue, 20%);
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    }
  }
}

.container {
  section, hr {
    width: 100%;
    padding: 0 57px;
    margin: 0 auto;
    padding-bottom: 1em;
  }

  h2 {
    border-bottom: 4px solid $midnight-blue;
  }
}

.speakers {

  .profile-photo {
    @include border-radius(100%);
    padding: 0.5em;
    background-color: white;
    margin-bottom: 1em;
  }

  .grid {
    margin-bottom: 2em;
  }

  .profile-info {
    max-width: 218px;
    text-align: center;
  }

  .text-content {
    padding: 0 0 0 35%;
    margin: 0;
    word-break: break-word;
  }
}

.schedule {
  table {
    table-layout: auto;
    width: 100%;

    tr {
      &:nth-child(odd) {
        background-color: transparent;
      }

      &:nth-child(even) {
        background-color: #ccc;
      }
    }
  }
}

.locations {
  #map {
    width: 100%;
    height: 600px;
  }
  #map img {
    max-width: none;
  }
}

.sponsors {
  .column {
    margin-bottom: 1em !important;
    text-align: center;
    height: 5em;

    img, h1 {
      max-height: 100%;
      width: auto;
      @include vertical-align;
    }
  }
}

footer {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid black;
  @include background(linear-gradient(lighten($midnight-blue, 15%), darken($midnight-blue, 10%)));

  span {
    display: table-cell;

    img {
      padding: 20%;
    }
  }
}

@media screen and (min-width: 640px) {
  .nav {

    ul {
      display: table;
      table-layout: fixed;

      li {
        display: table-cell;
      }
    }
  }

  .sponsors {
    .column {
      height: 10em;
    }
  }
}

@media screen and (max-width: 640px) {
  .opening-view {
    .headline {
      font-size: 60%;
    }
  }

  .container {
    section, hr {
      padding: 0 39px;
    }
  }

  .column.full,
  .column.two-thirds,
  .column.half {
    float: none;
    margin: 0;
    width: 100%;
  }

  .nav {

    ul {

      a {
        padding: 5px 0;
      }
    }
  }

  .locations #map {
    height: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .column.one-third {
    float: none;
    margin: 0;
    width: 100%;
  }

  .speakers .one-third .profile-photo {
    width: 20%;
  }

  .speakers .one-third .text-content {
    padding: 0 0 10% 25%;
  }
}

// Gives a max-width for the content to optimize for comfortable reading length.
.reading-wrapper {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}