/* ==========================================================================
   Mobile first styles (loaded by all browsers)
   ========================================================================== */

// Colors
$midnight-blue: #2c3e50;

html {
  width: 100%;
  height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  background-color: #efefef;
}

// Basic responsive images
img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

// Opening page
.opening-view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @include background(linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), image-url("fp-bg-blurry.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .headline {
    position: absolute;
    width: 60%;
    max-width: 31em;
    bottom: 1em;
    left: 2em;
    color: white;
  }
}

// General structure for content

.container {
  position: absolute;
  top: 100%;
  width: 100%;
  margin: 0 auto;
}

.column {
  float: left;
  margin-left: 5%;
}

.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}

.column.two-thirds {
  width: 65%;
}

.column.half {
  width: 47.5%;
}

.column.one-third {
  width: 30%;
}

.column.one-fourth {
  width: 21.25%;
}

.row {
  overflow: hidden;
}

// Navigation
.nav {
  z-index: 9999;

  ul {
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;

    li {
      display: table-cell;
      width: 25%;
      text-align: center;

      &:nth-child(1) a {
        background-color: $midnight-blue;
      }

      &:nth-child(2) a {
        background-color: lighten($midnight-blue, 5%);
      }

      &:nth-child(3) a {
        background-color: lighten($midnight-blue, 10%);
      }

      &:nth-child(4) a {
        background-color: lighten($midnight-blue, 15%);
      }
    }

    a {
      text-decoration: none;
      font-family: 'Fjalla One', sans-serif;
      display: block;
      width: 100%;
      height: 100%;
      color: white;
      padding: 15px 0;
      @include transition-property(background-color, color, text-shadow);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in-out);
    }

    a:hover {
      background-color: tint($midnight-blue, 20%) !important;
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    }
  }
}

.container {
  section, hr {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2em;
  }

  h2 {
    border-bottom: 4px solid $midnight-blue;
  }
}

.speakers {

  .one-third {
    position: relative;

    .profile-photo {
      position: absolute;
      width: 30%;
      height: auto;
      border-radius: 100%;
    }

    .text-content {
      padding: 0 0 0 35%;
      margin: 0;
      word-break: break-word;
    }
  }
}

.schedule {
  table {
    table-layout: auto;
    width: 100%;

    tr {
      &:nth-child(odd) {
        background-color: transparent;
      }

      &:nth-child(even) {
        background-color: #ccc;
      }
    }
  }
}

.locations {
  #map {
    width: 100%;
    height: 600px;
  }
}

footer {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid black;
  @include background(linear-gradient(lighten($midnight-blue, 15%), darken($midnight-blue, 10%)));

  span {
    display: table-cell;

    img {
      padding: 20%;
    }
  }
}

@media screen and (max-width: 640px) {
  .opening-view {
    .headline {
      font-size: 70%;
    }
  }

  .column.full,
  .column.two-thirds,
  .column.half {
    float: none;
    margin: 0;
    width: 100%;
  }

  .locations #map {
    height: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .column.one-third {
    float: none;
    margin: 0;
    width: 100%;
  }

  .speakers .one-third .profile-photo {
    width: 20%;
  }

  .speakers .one-third .text-content {
    padding: 0 0 10% 25%;
  }
}